# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Misc
.vercel
.opencode/
